$navbar-default-bg: #e8e8e8;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #02a1e0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1;
}
#logo:hover{
  color: #c94418;
  text-decoration: none;
}
.center {
  text-align: center;
}

.jumbotron{
  background-image: asset-url('jallikattu.jpg');
  background-size: cover;
  height: 580px;
}
.jumbotron h1{
  color: #fc2359;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 64px;
}
.btn-xlarge{
  font-size: 1.7em;
}
.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description{
  margin-top: 0;
}

.footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #4c4a4a;
}
.footer a:hover{
  color: #222;
}
.footer small{
  float: left;
}
.footer ul{
  float: right;
  list-style: none;
}
.footer li{
  float:right;
  margin-left: 15px;
}
